# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / React Frontend (in /client)
client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.env
client/.env.*

# Python Backend (in /server)
server/__pycache__/
server/*.pyc
.venv
venv
env

# Generated HLS video files
server/streams/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?